<div class="form floating-label">
	<div class="modal-body" >
        {foreach item=alm from=$almacen}
			<div class="form-group floating-label">
				<input type="text" class="form-control" id="regular2" value="{$alm.pk_num_solicitud}" size="45%" disabled="disabled">
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Detalle</p>
					<textarea disabled class="animate" style="width: 500px;height: 120px" >
             {$alm.ind_detalles}
				</textarea>
				</div>
			</div>

			<div class="form-group floating-label">
				<input type="text" class="form-control" id="regular2" value="{$alm.ind_detalles_supervisor}" size="45%"  disabled="disabled">
			</div>


			<div class="form-group floating-label">
				<input type="text" class="form-control" id="regular2" value="{$alm.fecha_solicitud}" size="45%"  disabled="disabled">
				<label for="regular2">Última modificación</label>
			</div>
        {/foreach}
	</div>

	<div align="right">
		<button type="button" class="btn btn-default ink-reaction btn-raised logsUsuarioModal" descripcionModal="El usuario ha regresado al listado" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-remove"></span> Cerrar</button>
	</div>
</div>