

<form action="" id="formAjax" class="form" role="form" method="post">
    <div class="modal-body">
        <input type="hidden" value="1" name="valido"  id="valido" />




                            <input type="hidden" value="{if isset($_MantenimientoPost[0]['pk_num_mantenimiento'])}{$_MantenimientoPost[0]['pk_num_mantenimiento']}{/if}"  name="form[int][idPost]"      id="idPost" />




                            {foreach item=post from=$_Acciones}
                                <input type="hidden" value="{$post.accion}"    id="accion" />
                            {/foreach}

                            <div class="col-lg-6">



                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <select   required="" class="form-control" name="form[int][Vehiculo]" id="Vehiculo" aria-required="true">
                                            <option value="">&nbsp;</option>




                                            {foreach item=tipo from=$_VehiculoPost}

                                                {if isset($_MantenimientoPost[0]['fk_pab001_num_vehiculo'])}

                                                    {if $tipo.pk_num_vehiculo==$_MantenimientoPost[0]['fk_pab001_num_vehiculo']}
                                                        <option selected value="{$tipo.pk_num_vehiculo}">{$tipo.ind_modelo} - {$tipo.ind_placa} </option>
                                                    {else}
                                                        <option value="{$tipo.pk_num_vehiculo}">{$tipo.ind_modelo} - {$tipo.ind_placa}</option>
                                                    {/if}
                                                {else}
                                                    <option value="{$tipo.pk_num_vehiculo}">{$tipo.ind_modelo} - {$tipo.ind_placa}</option>
                                                {/if}
                                            {/foreach}




                                        </select>
                                        <label for="rangelength2"> Vehículo </label>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <select   required="" class="form-control" name="form[int][TipoMantenimiento]" id="TipoMantenimiento" aria-required="true">
                                            <option value="">&nbsp;</option>




                                            {foreach item=tipo from=$_tipoMantenimientoPost}

                                                {if isset($_MantenimientoPost[0]['fk_pab003_num_tipo_mantenimiento'])}

                                                    {if $tipo.pk_num_tipo_mantenimiento==$_MantenimientoPost[0]['fk_pab003_num_tipo_mantenimiento']}
                                                        <option selected value="{$tipo.pk_num_tipo_mantenimiento}">{$tipo.ind_descripcion} </option>
                                                    {else}
                                                        <option value="{$tipo.pk_num_tipo_mantenimiento}">{$tipo.ind_descripcion}</option>
                                                    {/if}
                                                {else}
                                                    <option value="{$tipo.pk_num_tipo_mantenimiento}">{$tipo.ind_descripcion}</option>
                                                {/if}
                                            {/foreach}




                                        </select>
                                        <label for="rangelength2"> Tipo de Mantenimiento </label>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">


                                        <input type="text" required="" value="{if isset($_MantenimientoPost[0]['ind_en_ocacion'])}{$_MantenimientoPost[0]['ind_en_ocacion']}{/if}"name="form[txt][ocasion]" data-rule-rangelength="[2,100]"  class="form-control"  >



                                        <label for="rangelength2"> Ocasión </label>
                                    </div>
                                </div>

                                <div class="col-lg-12">


                                    <div class="form-group   col-lg-6  ">
                                        <input required="" type="text" name="form[txt][mantenimiento]" class="form-control fechas2" value="{if isset($_MantenimientoPost[0]['fec_mant'])}{$_MantenimientoPost[0]['fec_mant']}{/if}">
                                        <label>Fecha de Mantenimiento</label>
                                    </div>




                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group   col-lg-6  ">
                                        <input required="" type="text" name="form[txt][prox_mantenimiento]" class="form-control fechas2" value="{if isset($_MantenimientoPost[0]['fec_proximo_mantenimiento'])}{$_MantenimientoPost[0]['fec_proximo_mantenimiento']}{/if}">
                                        <label>Fecha del Próximo Mantenimiento</label>
                                    </div>


                                    <div class="form-group col-lg-6 ">
                                        <input required="" type="text"   value="{if isset($_MantenimientoPost[0]['ind_num_siguiente_kilometraje'])}{$_MantenimientoPost[0]['ind_num_siguiente_kilometraje']}{/if}"name="form[int][kilometraje]" data-rule-rangelength="[0, 9]" id="kilometraje" class="form-control"  >
                                        <label for="rangelength2">Ó al Kilometraje</label>
                                    </div>
                                </div>


                            </div>


                            <div class="col-lg-6">

                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <textarea required=""  placeholder="" rows="3" class="form-control" id="Motivo" name="form[txt][observacion]">{if isset($_MantenimientoPost[0]['ind_observacion'])}{$_MantenimientoPost[0]['ind_observacion']}{/if}</textarea>
                                        <label for="textarea1">Observación</label>
                                    </div>

                                </div>




                            </div>










                            </div>

                            <div class="row">
                                &nbsp;
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>
                            <span class="clearfix"></span>




                            <div class="modal-footer">

                                <button type="button" class="btn btn-default ink-reaction btn-raised logsUsuarioModal" descipcionModal="El Registro a sido cancelado" data-dismiss="modal">Cancelar</button>
                                {if  ($_Acciones.accion=="modificar")}
                                    <button type="submit" id="boton" class="btn btn-primary ink-reaction btn-raised logsUsuarioModal" type="button">Modificar</button>
                                {else}
                                    <button type="submit" id="boton" class="btn btn-primary ink-reaction btn-raised logsUsuarioModal" type="button">Guardar</button>
                                {/if}

                            </div>


</form>



<script type="text/javascript">

    $.validator.setDefaults({
        submitHandler: function() {

            //alert("Envio el formulario");
            var datos = $("#formAjax" ).serialize();


            var accion = $("#accion").val();
            if(accion=="r") {
                $.post("{$_Parametros.url}modPA/mantenimientoCONTROL/RegistrarMantenimientoMET", datos, function (dato) {


                }, 'json');
                swal("Mantenimiento Agregado!", "El mantenimiento del vehículo ha sido agregado satisfactoriamente.", "success");
                $(document.getElementById('cerrarModal')).click();
                $(document.getElementById('ContenidoModal')).html('');
                // window.setTimeout('location.reload()', 3000);
            }else {
                $.post("{$_Parametros.url}modPA/mantenimientoCONTROL/ModificarMantenimientoMET",datos, function (dato) {


                }, 'json');
                swal("Mantenimiento Modifcado!", "El mantenimiento del vehículo ha sido modificado satisfactoriamente.", "success");
                $(document.getElementById('cerrarModal')).click();
                $(document.getElementById('ContenidoModal')).html('');
                // window.setTimeout('location.reload()', 3000);
            }




        }
    });



    $(document).ready(function() {
        $("#formAjax").validate();
        $('#fechas').datepicker({ format: 'dd/mm/yyyy' });
        $('.fechas2').datepicker({ format: 'dd/mm/yyyy' });
        $("#kilometraje").inputmask( "999999",{ numericInput: true});

    });
</script>