   <div class="col-sm-6">
				 <div class="card">
                                            <center><input type="radio" value="agregarParticular" name="habilitarDeshabilitar" onchange="habilitar(this.value);"> &nbsp;&nbsp;<font color="#0066FF"><b>Particular Remitente</b></font></center>
                                        <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="docProveedor"><i class="icm icm-calculate2"></i>
                                                Doc. Fiscal</label>
                                            <input type="text" class="form-control"
                                                   value="{if isset($formDB.ind_cedula_documento)}{$formDB.ind_cedula_documento}{/if}"
                                                   id="docProveedor" disabled readonly>
                                        </div>
                                    </div>
               <div class="col-sm-6">
                                        <div class="form-group" id="fk_a003_num_personaError">
                                            <label for="nombreProveedor"><i class="icm icm-calculate2"></i>
                                                Nombre del Particular</label>
                                            <input type="text" class="form-control"
                                                   value="{if isset($formDB.nombre_apellidos)}{$formDB.nombre_apellidos}{/if}"
                                                   id="nombreProveedor" disabled readonly>

                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <input id="fk_a003_num_persona" type="hidden" value="{if isset($formDB.fk_a003_num_persona)}{$formDB.fk_a003_num_persona}{/if}" name="form[int][fk_a003_num_persona]">
                                            <button
                                                    class="btn ink-reaction btn-raised btn-xs btn-primary accionModal"
                                                    type="button"
                                                    title="Buscar Particular"
                                                    data-toggle="modal" data-target="#formModal2"
                                                    data-keyboard="false" data-backdrop="static"
                                                    titulo="Buscar Particular"
                                                    url="{$_Parametros.url}modCD/entdocumenexternoCONTROL/proveedorMET/proveedor/"
                                                    >
                                                <i class="fa fa-edit" style="color: #ffffff;"></i>
                                            </button>
                                        </div>
                                    </div>
										
                                        </div>
										    </div>