<div class="form floating-label">
	<div class="modal-body" >
		{foreach item=form from=$var}
           <div class="row">
			   <div class="col-sm-12">
				   <p>Detalle</p>
				<textarea disabled class="animate" style="width: 500px;height: 120px" >
             {$form.ind_detalles}
				</textarea>
			   </div>
		    </div>

		    <div class="row">
				<div class="col-sm-12">
				<input type="text" class="form-control" value="{$form.fecha_solicitud}"  name="ind_tipo_solicitud" id="ind_tipo_solicitud">
				<label for="regular2">Fecha de solicitud</label>
			</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
				<input type="text" class="form-control" value="{$form.nombres}"  name="ind_tipo_solicitud" id="ind_tipo_solicitud">
				<label for="regular2">Solicitante</label>
			</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
				<input type="text" class="form-control" value="{$form.dependencia}"  name="ind_tipo_solicitud" id="ind_tipo_solicitud">
				<label for="regular2">Dependencia</label>
			</div>
			</div>
		{/foreach}
</div>
<div align="right">
				<button type="button" class="btn btn-default ink-reaction btn-raised logsUsuarioModal" descripcionModal="El usuario ha regresado al listado" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-remove"></span> Cerrar</button>
			</div>
</div>
