/*CARRUSEL*/

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
  width:30%;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
  text-align:left;
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size:17.5px;


}

.carousel-caption p {
  margin-bottom: 0;
}


/*CALENDARIO DE EVENTOS*/
.tabla-calendario
{
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;

}

 .tabla-calendario > tr > td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    display: block;


 }

.calendario_dias:hover {
  color: #313534 !important;
  background-color: #b8ccd6;
  border-color: #2196f3 !important;
  border-radius: 4px;
  cursor: pointer;
}

.calendario_evento{
  color: #ffffff;
  background-color: rgba(12, 12, 12, 0.85);
  border-color: #2196f3;
  border: none;
  border-radius: 4px;

}

.calendario_hoy{
  background-color:#2196f3;
  color: #FFFFFF;
  border-color: #2196f3;
  border: none;
  border-radius: 4px;
}

.calendario_fila_mes > td{
  color: #313534;
  line-height: 18px;
  direction: ltr;
  font-weight: bold;
}

.calendario_fila_dias{
  color: gray !important;
  line-height: 10px !important;
  direction: ltr;

}
/*VISOR CUMPLEAÑERO DEL MES*/

.fuente_nombres{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000011;
  text-align: center;
}

.fuente_direccion{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #900000;
  text-align: center;
}

.style-cumplenieros{
  background-color: #FFFF66 !important;
}

.fuente_ver_cumpleanieros{
  padding-top: 20px;
  color: #050755;
  text-decoration: underline;
  cursor: pointer;
}

.fuente_ver_cumpleanieros:hover{
  padding-top: 20px;
  color: #860D11 !important;
  cursor: pointer;
}

.imagenCumple{
  border:3px solid;
  border-color: #CCCCCC ;
  background:#FFFFFF;
}

.contenedorPasadorCumple{
  position: absolute;
  left: 195px;
  bottom: 80px;

}

#slider p {
  position: absolute;
  top:50px;
  display: block;
  margin:0;
  padding: 5px 0;
  text-align:center;
  line-height: 15px;
}


/*PANEL DE OPCIONES*/
.demo-icon-hover {
  line-height: 32px;
  padding: 8px;
  padding-left: 10px;
  text-align: center;
}
.demo-icon-hover .md
 {
  font-size: 24px;
  display: block;
  margin-right: 10px;
}
.demo-icon-hover:hover {
  background: #20252b;
  cursor: default;
  color: #ffffff;
  cursor: pointer;
}

.fuente_opciones{
  font-size: 10px !important;
  line-height: 1.9 !important;
}

/*OCULTAR PASADOR DE CUMPLEAÑEROS DEPENDIENDO EL TAMAÑO*/
@media only screen and (min-width: 320px) and (max-width: 1280px) {
  .cumpleanierosSinPasador{ /*mostrar el link del listado de cumpleañeros (el que no tiene pasador)*/
    display: block;
  }

  .pasadorCumpleanieros{ /*ocultar el pasador de img de cumpleañeros*/
    display:none;
  }
}

@media only screen and (min-width: 1281px) { /*pixeles o más */
  .cumpleanierosSinPasador{ /*ocultar el link del listado de cumpleañeros (el que no tiene pasador)*/
    display: none;
  }

  .pasadorCumpleanieros{ /*muestra el pasador de img de cumpleañeros*/
    display:block;
  }
}

