<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="{$_Parametros.url}">Inicio</a></li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1><img src="{$_Parametros.ruta_Img}{$img}" width="12%" height="15%"><br>
                    <span class="text-xxxl text-light">401 </i></span></h1>
                <h2 class="text-light"><br> Ups ha ocurrido una vicisitud <br> {$titulo} </h2>
            </div><!--end .col -->
        </div><!--end .row -->
    </div><!--end .section-body -->
</section>