@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), local('Roboto-Regular'), url(../../fonts/RobotoDraftRegular.woff2) format('woff2'), url(../../fonts/RobotoDraftRegular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), local('Roboto-Medium'), url(../../fonts/RobotoDraftMedium.woff2) format('woff2'), url(../../fonts/RobotoDraftMedium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), local('Roboto-Bold'), url(../../fonts/RobotoDraftBold.woff2) format('woff2'), url(../../fonts/RobotoDraftBold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), local('Roboto-Italic'), url(../../fonts/RobotoDraftItalic.woff2) format('woff2'), url(../../fonts/RobotoDraftItalic.woff) format('woff');
}
/*# sourceMappingURL=roboto.css.map */