/* General Demo Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

html { 
	height: 100%; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}


.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {

    height: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
   
}



.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.container > header,
.main {
	padding: 0 30px 50px 30px;
	width: 100%;
	max-width: 395px;/*600*/
	margin: 0 auto;
}

.container > header {
	padding: 30px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #fff;
	float: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.container > header h1 span {
	font-size: 18px;
	font-weight: 300;
	display: block;
}


