html
{
    background-color: #FFFFFF;
}

a
{
    background: gray;
    border-radius: 3px;
    color: black;
    padding: 4px;
    text-decoration: none;
}
a:hover
{
    background: #FFFFFF;
    color: #FF0000;
    padding: 8px;
}
body
{
    background-color: transparent;
    color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
    font-size: 13px;
}

input
{
    border: 2px solid;
    height: 25px;
}

.container
{
    background: url('../../ces_img/ces_diseno_2015/fnd_twuitter.png') repeat;
    border: 2px solid #000000;
    height: 315px;
    margin: 0 auto;
    padding: 15px 0 2px 0;
    text-align: center;
    width: 350px;
}

.tituloEvento{
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 0 2px 0;
    text-align: center;
    width: 100%;
    font-size: 45px;
}

.form-control
{
    border-color: #cbd5dd;
    border-radius: 5px;
}

.form-control,
.form-control:focus
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.form-control:focus
{
    border-color: #177bbb;
}

.form-group
{
    margin-bottom: 15px;
}

.input-s-sm {
    width: 120px;
}

.input-s {
    width: 200px;
}

.input-s-lg {
    width: 250px;
}
