
<section class="style-default-bright">
    <div class="section-header">
        <h2 class="text-primary">AUTORIZACION DE CAJA CHICA</h2>
    </div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-lg-12 contain-lg">
                <div class="table-responsive">
                    <table id="datatable1" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Empleado</th>
                            <th>Nombre Completo</th>
                            <th>Monto</th>
                            <th>Estatus</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach item=autorizacion from=$autorizacionBD}
                            <tr id="idAutorizacionCC{$autorizacion.pk_num_cajachica_autorizacion}">
                                <td>{$autorizacion.pk_num_empleado}</td>
                                <td>{$autorizacion.nombreEmpleado}</td>
                                <td>{number_format($autorizacion.num_monto_autorizado,2,',','.')}</td>
                                <td><i class="{if $autorizacion.estatus==1}md md-check{else}md md-not-interested{/if}"></i>
                                <td>
                                    {if in_array('CP-01-07-03-03-01-M',$_Parametros.perfil)}
                                    <button class="modificar btn ink-reaction btn-raised btn-xs btn-primary" data-toggle="modal" data-target="#formModal"
                                            data-keyboard="false" data-backdrop="static" idAutorizacionCC="{$autorizacion.pk_num_cajachica_autorizacion}" title="Editar"
                                            descipcion="El Usuario ha Modificado una Autorizacion de Caja Chica" titulo="<i class='fa fa-edit'></i> Editar Autorizacion de Caja Chica">
                                        <i class="fa fa-edit" style="color: #ffffff;"></i>
                                    </button>
                                    {/if}
                                    {if in_array('CP-01-07-03-03-02-V',$_Parametros.perfil)}
                                        <button class="ver logsUsuario btn ink-reaction btn-raised btn-xs btn-warning" data-toggle="modal" data-target="#formModal"
                                                data-keyboard="false" data-backdrop="static" idAutorizacionCC="{$autorizacion.pk_num_cajachica_autorizacion} " title="Consultar"
                                                descipcion="El Usuario esta viendo una Autorizacion de Caja Chica" titulo="<i class='md md-remove-red-eye'></i> Consultar Autorizacion de Caja Chica">
                                            <i class="md md-remove-red-eye" style="color: #ffffff;"></i>
                                        </button>
                                    {/if}
                                    {if in_array('CP-01-07-03-03-03-E',$_Parametros.perfil)}
                                        <button class="eliminar logsUsuario btn ink-reaction btn-raised btn-xs btn-danger" idAutorizacionCC="{$autorizacion.pk_num_cajachica_autorizacion}" title="Eliminar"  boton="si, Eliminar"
                                                descipcion="El usuario ha eliminado una Autorizacion de Caja Chica" titulo="Estas Seguro?" mensaje="Estas seguro que desea eliminar el Autorizacion de Caja Chica!!">
                                            <i class="md md-delete" style="color: #ffffff;"></i>
                                        </button>
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="5">
                                {if in_array('CP-01-07-03-03-04-N',$_Parametros.perfil)}
                                <button class="logsUsuario btn ink-reaction btn-raised btn-info"
                                        descipcion="el Usuario ha creado una Autorizacion de Caja Chica"
                                        data-toggle="modal" data-target="#formModal"
                                        titulo="<i class='md md-create'></i>&nbsp;Registrar Nueva Autorizacion de Caja Chica" id="nuevo"
                                        data-keyboard="false" data-backdrop="static"><i class="md md-create"></i>&nbsp;Nueva Autorizacion
                                </button>
                                {/if}
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function() {

        var $url='{$_Parametros.url}modCP/maestros/cajaChicaReportes/autorizacionCajaChica/autorizacionCajaChicaCONTROL/nuevaAutorizacionMET';

        $('#nuevo').click(function(){
            $('#formModalLabel').html($(this).attr('titulo'));
            $.post($url,{ idAutorizacionCC:0 },function($dato){
                $('#ContenidoModal').html($dato);
            });
        });
        $('#datatable1 tbody').on( 'click', '.modificar', function () {

            $('#formModalLabel').html($(this).attr('titulo'));
            $.post($url,{ idAutorizacionCC: $(this).attr('idAutorizacionCC'), mod:1} ,function($dato){
                $('#ContenidoModal').html($dato);
            });
        });

        $('#datatable1 tbody').on( 'click', '.ver', function () {
            $('#formModalLabel').html($(this).attr('titulo'));
            $.post( $url,{ idAutorizacionCC: $(this).attr('idAutorizacionCC') , ver:1 },function(dato){
                $('#ContenidoModal').html(dato);
            });
        });
        $('#datatable1 tbody').on( 'click', '.eliminar', function () {
            var idAutorizacionCC=$(this).attr('idAutorizacionCC');
            swal({
                title: $(this).attr('titulo'),
                text: $(this).attr('mensaje'),
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: $(this).attr('boton'),
                closeOnConfirm: false
            }, function(){
                var $url='{$_Parametros.url}modCP/maestros/cajaChicaReportes/autorizacionCajaChica/autorizacionCajaChicaCONTROL/eliminarMET';
                $.post($url, { idAutorizacionCC: idAutorizacionCC },function(dato){
                    if(dato['status']=='ok'){
                        $(document.getElementById('idAutorizacionCC'+dato['idAutorizacionCC'])).html('');
                        swal("Eliminado!", "la Autorizacion de Caja Chica ha sido eliminado satisfactoriamente.", "success");
                    }else{
                        swal("Error!", dato['mensaje'] , "error");
                    }
                },'json');
            });
        });


    });
</script>