<!-- muestra la foto del empleado para visualizarla -->

    <div class="card">


        <div class="card-body text-center">

            <img src="{$_Parametros.ruta_Img}modRH/fotos/{$foto}" width="290" height="300">

        </div>
        <div class="card-foot text-center">
            <button type="button" class="btn btn-default ink-reaction btn-raised" data-dismiss="modal">Cerrar</button>
        </div>

    </div>





<script type="text/javascript">

    $(document).ready(function() {
        //ancho de la ventana modal
        $('#modalAncho').css( "width", "30%" );

    });

</script>