<div class="col-md-12">

    <!-- iframe con el contendido del reporte -->
    <iframe src="{$_Parametros.url}modRH/gestion/empleadosCONTROL/GenerarReportePermisoPDFMET/?idEmpleado={$idEmpleado}" width="100%" height="500"></iframe>

</div>
<script type="text/javascript">
    $(document).ready(function() {

        $('#modalAncho2').css( "width", "70%" );

    });
</script>




