<br/>
<section class="style-default-bright">
    <div class="col-lg-12">
		<h2 class="text-primary">&nbsp;Aprobar Solicitud</h2>
	</div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-lg-12 contain-lg">
                <table id="datatable1" class="table table-striped table-hover">
                    <thead>
                        <tr align="center">
                            <th>N° de Solicitud</th>
                            <th>Detalles</th>
                            <th>Usuario Solicitante</th>
                            <th>Dependencia</th>
                            <th>Equipo</th>
                           <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            {foreach item=post from=$_PruebaPost}
                            <tr id="pk_num_solicitud{$post.pk_num_solicitud}">
                            <td>{$post.pk_num_solicitud}</td>
                            <td>{$post.ind_detalles}</td>

                             <td>{$post.nombres}</td>
                                <td>{$post.dependencia}</td>
                                <td>

                                    {if $post.ind_descripcion==''}

                                    <p>No requiere</p>

                                    {else}

                                     <p>{$post.ind_descripcion}</p>
                                    {/if}


                                </td>
                            <td>
                            <button class="modificar logsUsuario btn ink-reaction btn-raised btn-xs btn-primary" data-toggle="modal" data-target="#formModal" data-keyboard="false" data-backdrop="static" pk_num_solicitud="{$post.pk_num_solicitud}" descipcion="El Usuario ha Modificado un almacén" title="Aprobar Solicitud"  titulo="Aprobar Solicitud"> <i class="icm icm-rating3" style="color: #ffffff;"></i></button>
                            <button class="eliminar logsUsuario btn ink-reaction btn-raised btn-xs btn-danger" pk_num_solicitud="{$post.pk_num_solicitud}"  boton="si, Eliminar" descipcion="El usuario ha eliminado una Solicitud" titulo="¿Estás Seguro?" mensaje="¿Desea eliminar ?" title="Eliminar "><i class="md md-delete"></i></button></td>
                        </tr>
                        {/foreach}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
            $(document).ready(function() {
                var $url_modificar='{$_Parametros.url}modCA/procesos/aprobarCONTROL/EditarMET';
                $('#datatable1 tbody').on( 'click', '.modificar', function () {
		        $('#modalAncho').css( "width", "45%" );
                $('#formModalLabel').html($(this).attr('titulo'));
                $('#ContenidoModal').html("");
                $.post($url_modificar,{ pk_num_solicitud: $(this).attr('pk_num_solicitud')},function($dato){
                $('#ContenidoModal').html($dato);
                });
                });


                $('#datatable1 tbody').on( 'click', '.eliminar', function () {

                    var pk_num_solicitud=$(this).attr('pk_num_solicitud');
                    swal({
                        title: $(this).attr('titulo'),
                        text: $(this).attr('mensaje'),
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: $(this).attr('boton'),
                        closeOnConfirm: false
                    }, function(){
                        var $url='{$_Parametros.url}modCA/procesos/aprobarCONTROL/EliminarMET';
                        $.post($url, { pk_num_solicitud: pk_num_solicitud},function($dato){
                            if($dato['status']=='OK'){
                                $(document.getElementById('pk_num_solicitud'+$dato['pk_num_solicitud'])).html('');
                                swal("Eliminado!", "Eliminado.", "success");
                                $('#cerrar').click();
                            }
                        },'json');
                    });
                });

            });



            var $urlVer='{$_Parametros.url}modCA/procesos/aprobarCONTROL/VerMET';
            $('#datatable1 tbody').on( 'click', '.ver', function () {
                $('#modalAncho').css( "width", "45%" );
                $('#formModalLabel').html($(this).attr('titulo'));
                $('#ContenidoModal').html("");
                $.post($urlVer,{ pk_num_solicitud: $(this).attr('pk_num_solicitud')},function($dato){
                    $('#ContenidoModal').html($dato);
                });
            });
</script>
