<form action="" id="formAjax" class="form" role="form" method="post">
    <div class="modal-body">
        <input type="hidden" value="1" name="valido"  id="valido" />


                                <div class="col-lg-6">
                                    <form class="form form-validate " novalidate="novalidate">
                                        <div class="form-group">

                                            {foreach item=post from=$_Acciones}
                                                <input type="hidden" value="{$post.accion}"    id="accion" />
                                            {/foreach}


                                            <input value="{if isset($_TallerPost[0]['ind_nombre1'])}{$_TallerPost[0]['ind_nombre1']}{/if}" type="text" class="form-control" id="form[alphaNum][Nombre]" name="form[alphaNum][Nombre]" data-rule-rangelength="[2, 30]" required>
                                            <input type="hidden" value=""  name="idPost"    id="idPost" />



                                        <label for="rangelength2">Nombre del Taller</label>
                                        </div>

                                        <div class="form-group">


                                             <input value="{if isset($_TallerPost[0]['ind_cedula_documento'])}{$_TallerPost[0]['ind_cedula_documento']}{/if}" type="text" class="form-control" id="form[txt][Documento]" name="form[txt][Documento]" data-rule-rangelength="[2, 30]" required>
                                             <label for="rangelength2">Documento Fiscal</label>

                                        </div>









                                        <div class="form-group">
                                            <select  required="" class="form-control" name="form[int][Ciudad]" id="Ciudad" aria-required="true">
                                                <option value="">&nbsp;</option>



                                                {foreach item=tipo from=$_CiudadPost}

                                                    {if isset($_TallerPost[0]['fk_a010_num_ciudad'])}

                                                        {if $tipo.pk_num_ciudad==$_TallerPost[0]['fk_a010_num_ciudad']}
                                                            <option selected value="{$tipo.pk_num_ciudad}">{$tipo.ind_ciudad} </option>
                                                        {else}
                                                            <option value="{$tipo.pk_num_ciudad}">{$tipo.ind_ciudad } </option>
                                                        {/if}
                                                    {else}
                                                        <option value="{$tipo.pk_num_ciudad}">{$tipo.ind_ciudad } </option>
                                                    {/if}
                                                {/foreach}




                                            </select>
                                            <label for="rangelength2"> Ciudad </label>
                                        </div>

                                </div>

                                <div class="col-lg-6">

                                <div class="form-group">
                                    <textarea   required="" placeholder="" rows="3" class="form-control" id="Direccion" name="form[txt][Direccion]">{if isset($_TallerPost[0]['ind_direccion_domicilio_fiscal'])}{$_TallerPost[0]['ind_direccion_domicilio_fiscal']}{/if}</textarea>
                                    <label for="textarea1">Dirección del Taller</label>
                                </div>



                            </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
        <span class="clearfix"></span>

        <div class="modal-footer">

            <button type="button" class="btn btn-default ink-reaction btn-raised logsUsuarioModal" descipcionModal="El usuario ha cancelado registro de la entrada de documento" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-remove"></span> Cancelar</button>

            <button type="submit" class="btn btn-primary ink-reaction btn-raised" id="accion"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>


        </div>
    </div>





</form>

<script type="text/javascript">
    $.validator.setDefaults({
        submitHandler: function() {


            var datos = $("#formAjax" ).serialize();



            var accion = $("#accion").val();
            if(accion=="r") {
                $.post("{$_Parametros.url}modLG/maestros/proveedorCONTROL/CrearModificarProveedorMET", datos, function (dato) {


                }, 'json');
                swal("Registro Agregado!", "La marca del vehículo ha sido agregado satisfactoriamente.", "success");
                $(document.getElementById('cerrarModal')).click();
                $(document.getElementById('ContenidoModal')).html('');
                //
            }else {
                $.post("{$_Parametros.url}modPA/tallerCONTROL/ModificarTallerMET",datos, function (dato) {


                }, 'json');
                swal("Registro Modifcado!", "La marca del vehículo ha sido modificado satisfactoriamente.", "success");
                $(document.getElementById('cerrarModal')).click();
                $(document.getElementById('ContenidoModal')).html('');
                //
            }



        }
    });


    $(document).ready(function() {


        $("#formAjax").validate();


    });



</script>