
<section class="style-default-bright">
    <div class="section-header">
        <h2 class="text-primary">Maestro de Plantillas Clima Laboral</h2>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">

                    <div class="card card-underline">

                        <div class="card-body">
                            <table id="datatable1" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th width="130">Plantilla</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach item=b from=$Plantillas}

                                    <tr id="idPlantilla{$b.pk_num_plantillas}">
                                        <td>{$b.pk_num_plantillas}</td>
                                        <td>{$b.ind_descripcion_plantilla}</td>
                                        <td align="center" width="100">
                                            {if in_array('RH-01-04-04-07-M',$_Parametros.perfil)}
                                                <button class="modificar logsUsuario btn ink-reaction btn-raised btn-xs btn-primary" data-toggle="modal" data-target="#formModal"
                                                        data-keyboard="false" data-backdrop="static" title="Editar" idPlantilla="{$b.pk_num_plantillas}"
                                                        descipcion="El Usuario a Modificado una Plantilla" titulo="Modificar Plantilla">
                                                    <i class="fa fa-edit" style="color: #ffffff;"></i>
                                                </button>
                                            {/if}
                                            &nbsp;&nbsp;
                                            {if in_array('RH-01-04-04-08-E',$_Parametros.perfil)}
                                                <button class="eliminar logsUsuario btn ink-reaction btn-raised btn-xs btn-danger" idPlantilla="{$b.pk_num_plantillas}"  boton="si, Eliminar"
                                                        descipcion="El usuario a eliminado una Plantilla" title="Eliminar" titulo="Estas Seguro?" mensaje="Estas seguro que desea eliminar la Plantilla!!">
                                                    <i class="md md-delete" style="color: #ffffff;"></i>
                                                </button>
                                            {/if}
                                        </td>
                                    </tr>
                                {/foreach}
                                </tbody>
                                <tfoot>
                                    <th colspan="3">
                                        {if in_array('RH-01-04-04-06-N',$_Parametros.perfil)}
                                            <button class="logsUsuario btn ink-reaction btn-raised btn-info" data-toggle="modal" data-target="#formModal" data-keyboard="false" data-backdrop="static"
                                                    descripcion="el Usuario a creado una Plantilla" title="Nueva Plantilla" titulo="Nueva Plantilla" id="nuevo" >
                                                <i class="md md-create"></i> Nueva Plantilla &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </button>
                                        {/if}
                                    </th>
                                </tfoot>

                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function() {

        var $url='{$_Parametros.url}modRH/maestros/plantillasCONTROL/PlantillasMET';

        $('#nuevo').click(function(){
            $('#formModalLabel').html($(this).attr('titulo'));
            $.post($url,'',function($dato){
                $('#ContenidoModal').html($dato);
            });
        });

        $('#datatable1 tbody').on( 'click', '.modificar', function () {
                $('#formModalLabel').html($(this).attr('titulo'));
                $.post($url,{ idPlantilla: $(this).attr('idPlantilla')},function($dato){
                    $('#ContenidoModal').html($dato);
                });
        });
        $('#datatable1 tbody').on( 'click', '.eliminar', function () {

            var idPlantilla=$(this).attr('idPlantilla');
            swal({
                title: $(this).attr('titulo'),
                text: $(this).attr('mensaje'),
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: $(this).attr('boton'),
                closeOnConfirm: false
            }, function(){
                var $url='{$_Parametros.url}modRH/maestros/plantillasCONTROL/EliminarPlantillasMET';
                $.post($url, { idPlantilla: idPlantilla},function($dato){
                    if($dato['status']=='OK'){
                        $(document.getElementById('idPlantilla'+$dato['idPlantilla'])).html('');
                        swal("Eliminado!", "Registro Eliminado.", "success");
                        $('#cerrar').click();
                    }
                },'json');
            });
        });
    });
</script>